# Logs
logs
*.log

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release
build

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env


# TypeScript cache
*.tsbuildinfo

# Optional VSCode settings
.vscode/
